In [16]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, text

In [17]:
import config

In [18]:
# create database engine
db_url = f"postgresql://{config.DB_USERNAME}:{config.DB_PASSWORD}@{config.DB_HOST}/{config.DB_NAME}"
engine = create_engine(db_url)

In [20]:
# load all the raw data into a datafame
query = text('''SELECT * FROM "RawRecords";''')
df = pd.read_sql_query(query,con=engine, index_col='Id')
df

,State,Year,Enrolled,TotalRevenue,FederalRevenue,StateRevenue,LocalRevenue,TotalExpenditure,InstructionExpenditure,SupportServicesExpenditure,OtherExpenditure,CapitalOutlayExpenditure,AvgMath4Score,AvgMath8Score,AvgReading4Score,AvgReading8Score
Id,,,,,,,,,,,,,,,,
2003_ALABAMA,ALABAMA,2003,727900.0,5196054.0,567704.0,2966981.0,1661369.0,5298932.0,2817111.0,1521462.0,424662.0,432279.0,223.0,262.0,207.0,253.0
2003_ALASKA,ALASKA,2003,133303.0,1425948.0,259423.0,813371.0,353154.0,1610289.0,763525.0,514052.0,55715.0,247005.0,233.0,279.0,212.0,256.0
2003_ARIZONA,ARIZONA,2003,875111.0,6529894.0,740579.0,2912629.0,2876686.0,6210287.0,2810907.0,1964229.0,303924.0,864642.0,229.0,271.0,209.0,255.0
2003_ARKANSAS,ARKANSAS,2003,450158.0,3241275.0,379947.0,2394336.0,466992.0,3242799.0,1768713.0,972598.0,170767.0,247245.0,229.0,266.0,214.0,258.0
2003_CALIFORNIA,CALIFORNIA,2003,6226552.0,59815855.0,5795655.0,33617766.0,20402434.0,59749885.0,29561563.0,17030335.0,2995767.0,7341541.0,227.0,267.0,206.0,251.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015_VIRGINIA,VIRGINIA,2015,1279867.0,15857524.0,1012205.0,6240349.0,8604970.0,16113212.0,8755896.0,5075509.0,627473.0,1086722.0,247.0,288.0,229.0,267.0
2015_WASHINGTON,WASHINGTON,2015,1072359.0,13709442.0,1036422.0,8293812.0,4379208.0,13630138.0,6508964.0,4510672.0,546926.0,1601069.0,245.0,287.0,226.0,267.0
2015_WEST_VIRGINIA,WEST_VIRGINIA,2015,279565.0,3478401.0,362959.0,1979466.0,1135976.0,3466981.0,1819903.0,1161944.0,233836.0,232738.0,235.0,271.0,216.0,260.0
2015_WISCONSIN,WISCONSIN,2015,861813.0,11637376.0,814385.0,5869265.0,4953726.0,11553677.0,5723474.0,3691809.0,513402.0,894823.0,243.0,289.0,223.0,270.0
2015_WYOMING,WYOMING,2015,93867.0,1962874.0,120290.0,1116917.0,725667.0,1942406.0,895910.0,565489.0,52520.0,409425.0,247.0,287.0,228.0,269.0

In [21]:
# create a df for the stats with the same index as the raw data
stats_df = pd.DataFrame(index=df.index)
# rename the index to match the schema
stats_df.index.rename('RecordId', inplace=True)

In [22]:
stats_df

Empty DataFrame
Columns: []
Index: [2003_ALABAMA, 2003_ALASKA, 2003_ARIZONA, 2003_ARKANSAS, 2003_CALIFORNIA, 2003_COLORADO, 2003_CONNECTICUT, 2003_DELAWARE, 2003_DISTRICT_OF_COLUMBIA, 2003_FLORIDA, 2003_GEORGIA, 2003_HAWAII, 2003_IDAHO, 2003_ILLINOIS, 2003_INDIANA, 2003_IOWA, 2003_KANSAS, 2003_KENTUCKY, 2003_LOUISIANA, 2003_MAINE, 2003_MARYLAND, 2003_MASSACHUSETTS, 2003_MICHIGAN, 2003_MINNESOTA, 2003_MISSISSIPPI, 2003_MISSOURI, 2003_MONTANA, 2003_NEBRASKA, 2003_NEVADA, 2003_NEW_HAMPSHIRE, 2003_NEW_JERSEY, 2003_NEW_MEXICO, 2003_NEW_YORK, 2003_NORTH_CAROLINA, 2003_NORTH_DAKOTA, 2003_OHIO, 2003_OKLAHOMA, 2003_OREGON, 2003_PENNSYLVANIA, 2003_RHODE_ISLAND, 2003_SOUTH_CAROLINA, 2003_SOUTH_DAKOTA, 2003_TENNESSEE, 2003_TEXAS, 2003_UTAH, 2003_VERMONT, 2003_VIRGINIA, 2003_WASHINGTON, 2003_WEST_VIRGINIA, 2003_WISCONSIN, 2003_WYOMING, 2005_ALABAMA, 2005_ALASKA, 2005_ARIZONA, 2005_ARKANSAS, 2005_CALIFORNIA, 2005_COLORADO, 2005_CONNECTICUT, 2005_DELAWARE, 2005_DISTRICT_OF_COLUMBIA, 2005_FLORIDA, 2005_GEORGIA, 2005_HAWAII, 2005_IDAHO, 2005_ILLINOIS, 2005_INDIANA, 2005_IOWA, 2005_KANSAS, 2005_KENTUCKY, 2005_LOUISIANA, 2005_MAINE, 2005_MARYLAND, 2005_MASSACHUSETTS, 2005_MICHIGAN, 2005_MINNESOTA, 2005_MISSISSIPPI, 2005_MISSOURI, 2005_MONTANA, 2005_NEBRASKA, 2005_NEVADA, 2005_NEW_HAMPSHIRE, 2005_NEW_JERSEY, 2005_NEW_MEXICO, 2005_NEW_YORK, 2005_NORTH_CAROLINA, 2005_NORTH_DAKOTA, 2005_OHIO, 2005_OKLAHOMA, 2005_OREGON, 2005_PENNSYLVANIA, 2005_RHODE_ISLAND, 2005_SOUTH_CAROLINA, 2005_SOUTH_DAKOTA, 2005_TENNESSEE, 2005_TEXAS, 2005_UTAH, 2005_VERMONT, 2005_VIRGINIA, 2005_WASHINGTON, 2005_WEST_VIRGINIA, ...]

[357 rows x 0 columns]

In [23]:
# calculate the stats
stats_df['FederalFundingPercent'] = df['FederalRevenue']/df['TotalRevenue']
stats_df['StateFundingPercent'] = df['StateRevenue']/df['TotalRevenue']
stats_df['LocalFundingPercent'] = df['LocalRevenue']/df['TotalRevenue']
stats_df['RevenuePerStudent'] = df['TotalRevenue']/df['Enrolled']
stats_df['InstructionalExpensePercent'] = df['InstructionExpenditure']/df['TotalRevenue']

In [24]:
stats_df

,FederalFundingPercent,StateFundingPercent,LocalFundingPercent,RevenuePerStudent,InstructionalExpensePercent
RecordId,,,,,
2003_ALABAMA,0.109257,0.571007,0.319737,7.138417,0.542164
2003_ALASKA,0.181930,0.570407,0.247663,10.697044,0.535451
2003_ARIZONA,0.113414,0.446045,0.440541,7.461789,0.430467
2003_ARKANSAS,0.117221,0.738702,0.144077,7.200305,0.545684
2003_CALIFORNIA,0.096892,0.562021,0.341087,9.606578,0.494209
...,...,...,...,...,...
2015_VIRGINIA,0.063831,0.393526,0.542643,12.389978,0.552160
2015_WASHINGTON,0.075599,0.604971,0.319430,12.784377,0.474780
2015_WEST_VIRGINIA,0.104347,0.569074,0.326580,12.442191,0.523201
2015_WISCONSIN,0.069980,0.504346,0.425674,13.503366,0.491818
2015_WYOMING,0.061283,0.569021,0.369696,20.911225,0.456428

In [25]:
# drop the RawRecord table if it already exists
try:
    with engine.connect() as con:

        rs = con.execute(text('DROP TABLE "CalculatedStats";'))
except:
    print("drop RawRecord table failed")

In [26]:
# store in the database
con = engine.connect()
table_name = 'CalculatedStats'
stats_df.to_sql(table_name, con)